<a href="https://colab.research.google.com/github/Jeyaa-NKS/ROI-Analysis/blob/main/ROI_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/Marketing data.csv")
df.head()

,Customer ID,Customer Name,Timestamp,Age,Gender,Location,Latitude,Longitude,Marital Status,Designation,Email ID,Purchased Product Type,Earning,Earning Potential,Spending Limit,Marketing Costs,Revenue,Net Profit
0,2457,Susan Hawkins,02-01-2022,37,Male,Danielleland,NaN,NaN,Single,Amenity horticulturist,savannahbaker@example.com,Clothing,7800,11800,25900,2500,9500,8100
1,4710,Edward Trujillo,09-01-2022,30,Male,North Taylorton,NaN,NaN,Married,Retail merchandiser,kathy69@example.org,Clothing,5600,13600,23900,14400,15500,19300
2,8398,Hayley Wolfe,16-01-2022,40,Male,North Ambershire,NaN,NaN,Widowed,"Exhibitions officer, museum/gallery",paul39@example.com,Appliances,12000,21100,39700,1800,6100,9600
3,7475,Toni Howell,23-01-2022,38,Other,North Tonyland,NaN,NaN,Single,Furniture conservator/restorer,jenningsmckenzie@example.org,Electronics,11200,20900,35500,2900,10500,6100
4,9967,John Macdonald,30-01-2022,59,Male,Newmanton,NaN,NaN,Widowed,Production manager,melissa54@example.net,Clothing,10700,16900,28600,2200,10000,9800

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import train_test_split

df = pd.read_csv('/content/customer_data (1).csv')

# Cluster Data using K-Means with the optimal number of clusters
k = 10
kmeans = KMeans(n_clusters=k, random_state=42)
df['Cluster'] = kmeans.fit_predict(df[['Earning', 'Earning Potential']])

# Calculate the mean Spending Limit for each cluster
cluster_spending = df.groupby('Cluster')['Spending Limit'].mean().reset_index()
cluster_spending.columns = ['Cluster', 'Cluster_Spending_Limit']

# Merge cluster-specific spending information back into the original dataset
df = df.merge(cluster_spending, on='Cluster', how='left')

# Split the data into a training set and a testing set (80% train, 20% test)
X = df[['Earning', 'Earning Potential', 'Cluster_Spending_Limit']]
y = df['Spending Limit']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Linear Regression model
model = LinearRegression()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model's performance using different metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared (R2): {r2:.2f}")
print(f"Mean Absolute Error (MAE): {mae:.2f}")

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Mean Squared Error (MSE): 75365.98
R-squared (R2): 0.92
Mean Absolute Error (MAE): 232.85

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

# Assuming df is your DataFrame containing the data

# Split the data into features and target variable
X = df[['Earning', 'Earning Potential', 'Cluster_Spending_Limit']]
y = df['Spending Limit']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize models
models = [
    LinearRegression(),
    DecisionTreeRegressor(),
    RandomForestRegressor(),
    AdaBoostRegressor(),
    GradientBoostingRegressor(),
    XGBRegressor(),
    SVR(kernel='linear')  # Using Support Vector Machine with linear kernel for simplicity
]

# Train and evaluate models
for model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)

    print(f"Model: {type(model).__name__}")
    print(f"Mean Squared Error (MSE): {mse:.2f}")
    print(f"R-squared (R2): {r2:.2f}")
    print(f"Mean Absolute Error (MAE): {mae:.2f}")
    print("")

Model: LinearRegression
Mean Squared Error (MSE): 75365.98
R-squared (R2): 0.92
Mean Absolute Error (MAE): 232.85

Model: DecisionTreeRegressor
Mean Squared Error (MSE): 169487.81
R-squared (R2): 0.81
Mean Absolute Error (MAE): 337.21

Model: RandomForestRegressor
Mean Squared Error (MSE): 103022.45
R-squared (R2): 0.88
Mean Absolute Error (MAE): 264.33

Model: AdaBoostRegressor
Mean Squared Error (MSE): 79518.44
R-squared (R2): 0.91
Mean Absolute Error (MAE): 239.06

Model: GradientBoostingRegressor
Mean Squared Error (MSE): 91359.80
R-squared (R2): 0.90
Mean Absolute Error (MAE): 256.25

Model: XGBRegressor
Mean Squared Error (MSE): 121066.76
R-squared (R2): 0.86
Mean Absolute Error (MAE): 292.45

Model: SVR
Mean Squared Error (MSE): 77384.99
R-squared (R2): 0.91
Mean Absolute Error (MAE): 235.47

In [24]:
df = pd.DataFrame(df)

# Calculate ROI
# Calculate ROI and create a new 'ROI' column
df['ROI'] = (df['Net Profit'] / df['Marketing Costs'])


df.head()

,Customer ID,Customer Name,Age,Gender,Location,Marital Status,Designation,Email ID,Purchased Product Type,Earning,Earning Potential,Spending Limit,Marketing Costs,Revenue,Net Profit,Cluster,Cluster_Spending_Limit,ROI
0,2457,Susan Hawkins,37,Male,Danielleland,Single,Amenity horticulturist,savannahbaker@example.com,Clothing,780,1180,2590,250,950,810,4,2619.206349,3.240000
1,4710,Edward Trujillo,30,Male,North Taylorton,Married,Retail merchandiser,kathy69@example.org,Clothing,560,1360,2390,1440,1550,1930,4,2619.206349,1.340278
2,8398,Hayley Wolfe,40,Male,North Ambershire,Widowed,"Exhibitions officer, museum/gallery",paul39@example.com,Appliances,1200,2110,3970,180,610,960,9,3776.500000,5.333333
3,7475,Toni Howell,38,Other,North Tonyland,Single,Furniture conservator/restorer,jenningsmckenzie@example.org,Electronics,1120,2090,3550,290,1050,610,9,3776.500000,2.103448
4,9967,John Macdonald,59,Male,Newmanton,Widowed,Production manager,melissa54@example.net,Clothing,1070,1690,2860,220,1000,980,5,3217.848101,4.454545

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import MinMaxScaler

# Load your dataset
data = pd.read_csv('/content/customer_data (1).csv')  # Load your actual dataset here

# Preprocessing data
# Assuming your dataset has columns: 'Earning', 'Earning Potential', 'Spending Limit'

# Extract features and target variable
X = data[['Earning', 'Earning Potential']].values
y = data['Spending Limit'].values

# Normalize/Scale features
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

# Create a sequential model
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(X.shape[1],)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))  # Final output layer

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')  # Use appropriate loss function for regression problems

# Train the model
model.fit(X, y, epochs=50, batch_size=32, validation_split=0.2)  # Tune epochs and batch size as needed

# Save the model
model.save('spending_limit_prediction_model.h5')

Epoch 1/50
25/25 [==============================] - 1s 15ms/step - loss: 13426281.0000 - val_loss: 13764524.0000
Epoch 2/50
25/25 [==============================] - 0s 7ms/step - loss: 13420835.0000 - val_loss: 13757575.0000
Epoch 3/50
25/25 [==============================] - 0s 4ms/step - loss: 13411081.0000 - val_loss: 13743568.0000
Epoch 4/50
25/25 [==============================] - 0s 6ms/step - loss: 13392158.0000 - val_loss: 13717660.0000
Epoch 5/50
25/25 [==============================] - 0s 6ms/step - loss: 13358797.0000 - val_loss: 13673969.0000
Epoch 6/50
25/25 [==============================] - 0s 7ms/step - loss: 13305394.0000 - val_loss: 13606262.0000
Epoch 7/50
25/25 [==============================] - 0s 5ms/step - loss: 13226021.0000 - val_loss: 13508876.0000
Epoch 8/50
25/25 [==============================] - 0s 4ms/step - loss: 13115308.0000 - val_loss: 13377544.0000
Epoch 9/50
25/25 [==============================] - 0s 5ms/step - loss: 12968608.0000 - val_loss: 13206627.0000
Epoch 10/50
25/25 [==============================] - 0s 4ms/step - loss: 12781857.0000 - val_loss: 12991937.0000
Epoch 11/50
25/25 [==============================] - 0s 5ms/step - loss: 12551659.0000 - val_loss: 12729982.0000
Epoch 12/50
25/25 [==============================] - 0s 4ms/step - loss: 12272510.0000 - val_loss: 12420733.0000
Epoch 13/50
25/25 [==============================] - 0s 5ms/step - loss: 11944739.0000 - val_loss: 12059656.0000
Epoch 14/50
25/25 [==============================] - 0s 5ms/step - loss: 11568124.0000 - val_loss: 11645225.0000
Epoch 15/50
25/25 [==============================] - 0s 4ms/step - loss: 11138704.0000 - val_loss: 11182332.0000
Epoch 16/50
25/25 [==============================] - 0s 5ms/step - loss: 10663292.0000 - val_loss: 10666346.0000
Epoch 17/50
25/25 [==============================] - 0s 4ms/step - loss: 10140002.0000 - val_loss: 10107047.0000
Epoch 18/50
25/25 [==============================] - 0s 3ms/step - loss: 9574172.0000 - val_loss: 9506081.0000
Epoch 19/50
25/25 [==============================] - 0s 5ms/step - loss: 8968943.0000 - val_loss: 8867857.0000
Epoch 20/50
25/25 [==============================] - 0s 4ms/step - loss: 8329092.5000 - val_loss: 8201171.5000
Epoch 21/50
25/25 [==============================] - 0s 5ms/step - loss: 7663479.0000 - val_loss: 7511383.5000
Epoch 22/50
25/25 [==============================] - 0s 4ms/step - loss: 6983124.5000 - val_loss: 6805693.0000
Epoch 23/50
25/25 [==============================] - 0s 5ms/step - loss: 6293376.0000 - val_loss: 6101710.5000
Epoch 24/50
25/25 [==============================] - 0s 4ms/step - loss: 5610009.5000 - val_loss: 5403371.5000
Epoch 25/50
25/25 [==============================] - 0s 5ms/step - loss: 4937594.5000 - val_loss: 4727956.5000
Epoch 26/50
25/25 [==============================] - 0s 5ms/step - loss: 4291547.5000 - val_loss: 4080028.5000
Epoch 27/50
25/25 [==============================] - 0s 4ms/step - loss: 3679119.0000 - val_loss: 3469365.5000
Epoch 28/50
25/25 [==============================] - 0s 4ms/step - loss: 3106511.0000 - val_loss: 2909460.0000
Epoch 29/50
25/25 [==============================] - 0s 4ms/step - loss: 2584425.7500 - val_loss: 2402874.2500
Epoch 30/50
25/25 [==============================] - 0s 4ms/step - loss: 2115890.7500 - val_loss: 1953880.7500
Epoch 31/50
25/25 [==============================] - 0s 5ms/step - loss: 1705440.3750 - val_loss: 1562098.3750
Epoch 32/50
25/25 [==============================] - 0s 4ms/step - loss: 1352637.8750 - val_loss: 1229119.2500
Epoch 33/50
25/25 [==============================] - 0s 5ms/step - loss: 1055307.6250 - val_loss: 954471.0625
Epoch 34/50
25/25 [==============================] - 0s 4ms/step - loss: 812537.0000 - val_loss: 732171.8750
Epoch 35/50
25/25 [==============================] - 0s 4ms/step - loss: 619854.3125 - val_loss: 554483.9375
Epoch 36/50
25/25 [==============================] - 0s 4ms/step - loss: 469369.7812 - val_loss: 418060.0938
Epoch 37/50
25/25 [==============================] - 0s 5ms/step - loss: 354064.8125 - val_loss: 318187.8125
Epoch 38/50
25/25 [==============================] - 0s 4ms/step - loss: 269491.5938 - val_loss: 245850.5469
Epoch 39/50
25/25 [==============================] - 0s 4ms/step - loss: 209856.0625 - val_loss: 192053.1406
Epoch 40/50
25/25 [==============================] - 0s 5ms/step - loss: 167401.6250 - val_loss: 154820.0781
Epoch 41/50
25/25 [==============================] - 0s 7ms/step - loss: 137690.3594 - val_loss: 130751.2031
Epoch 42/50
25/25 [==============================] - 0s 6ms/step - loss: 118840.3984 - val_loss: 113644.4688
Epoch 43/50
25/25 [==============================] - 0s 6ms/step - loss: 105868.4453 - val_loss: 102928.4531
Epoch 44/50
25/25 [==============================] - 0s 5ms/step - loss: 97708.2188 - val_loss: 96116.1094
Epoch 45/50
25/25 [==============================] - 0s 5ms/step - loss: 92677.9688 - val_loss: 91563.5391
Epoch 46/50
25/25 [==============================] - 0s 5ms/step - loss: 89572.8438 - val_loss: 88613.6406
Epoch 47/50
25/25 [==============================] - 0s 8ms/step - loss: 87621.5703 - val_loss: 86905.2891
Epoch 48/50
25/25 [==============================] - 0s 6ms/step - loss: 86493.2578 - val_loss: 85868.0312
Epoch 49/50
25/25 [==============================] - 0s 5ms/step - loss: 85805.0156 - val_loss: 85259.8984
Epoch 50/50
25/25 [==============================] - 0s 5ms/step - loss: 85426.0391 - val_loss: 84755.8203

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [22]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model

# Load your new data for prediction
new_data = pd.read_csv('/content/cust.csv')  # Load your new dataset for prediction
new_data.head()

,Customer ID,Customer Name,Age,Gender,Location,Latitude,Longitude,Marital Status,Designation,Email ID,Purchased Product Type,Earning,Earning Potential,Marketing Costs,Revenue,Net Profit
0,2457,Susan Hawkins,37,Male,Danielleland,NaN,NaN,Single,Amenity horticulturist,savannahbaker@example.com,Clothing,7800,11800,2500,9500,8100
1,4710,Edward Trujillo,30,Male,North Taylorton,NaN,NaN,Married,Retail merchandiser,kathy69@example.org,Clothing,5600,13600,14400,15500,19300
2,8398,Hayley Wolfe,40,Male,North Ambershire,NaN,NaN,Widowed,"Exhibitions officer, museum/gallery",paul39@example.com,Appliances,12000,21100,1800,6100,9600
3,7475,Toni Howell,38,Other,North Tonyland,NaN,NaN,Single,Furniture conservator/restorer,jenningsmckenzie@example.org,Electronics,11200,20900,2900,10500,6100
4,9967,John Macdonald,59,Male,Newmanton,NaN,NaN,Widowed,Production manager,melissa54@example.net,Clothing,10700,16900,2200,10000,9800

In [23]:

X_new = new_data[['Earning', 'Earning Potential']].values  # Convert the DataFrame to a 2D array

# Load the saved model
loaded_model = load_model('spending_limit_prediction_model.h5')  # Load the trained model

# Predict Spending Limit for the new data
predicted_spending_limit = loaded_model.predict(X_new)

# Create a new DataFrame with Customer Name, Earning, Earning Potential, and the predicted spending limit
prediction_data = new_data[['Customer Name', 'Earning', 'Earning Potential']].copy()
prediction_data['Predicted Spending Limit'] = predicted_spending_limit

# Show the predicted Spending Limit DataFrame
prediction_data.head()

32/32 [==============================] - 0s 2ms/step

     Customer Name  Earning  Earning Potential  Predicted Spending Limit
0    Susan Hawkins     7800              11800                35110264.0
1  Edward Trujillo     5600              13600                34540592.0
2     Hayley Wolfe    12000              21100                59376516.0
3      Toni Howell    11200              20900                57614188.0
4   John Macdonald    10700              16900                49460684.0